<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="container">


  <% if(success && success.length){ %>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
     <%= success %> 
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% } %>

<h1 class="display-5 mb-4 p-3 bg-secondary bg-opacity-25" 
style="font-weight:400;border-radius:10px;"><i class="fa-brands fa-shopify"></i>   Products</h1>
 
          <div class="row">
              <% for(let product of products){ %> 
              <div class="col-lg-4 col-md-6 mb-3">
                <div class="card mx-auto" style="width: 20rem;">
                    <img src="<%=product.img%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= product.name %> </h5>
                      <p class="card-text"><%= product.desc.substring(0,100) %> </p>
                      <h5 class="card-title">&#8377; <%= product.price %> </h5>
                      <a href="/products/<%= product._id %> " class="btn btn-outline-primary">Buy Now</a>
                    </div>
                  </div>
              </div>
              <%}%>
          </div>                        
</main>

<footer style="text-align: center; background-color: #4895ef; color:white; font-weight: 500;">Office Address: B-602, Anantraj Maceo, Sector – 91, Gurgaon, Haryana 122505
</br> | Phone : +91 8586903536  |   Website: www.projexion.com
  </footer>

<%- include("../partials/footer") %>  